<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - GitServer</title>
    <meta charset="utf-8" />
    @*<link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>
    <div class="">
    </div>
    <noscript>Please enable JavaScript in your browser!</noscript>
    <div class="w3-top w3-bar w3-theme">
        <div class="w3-bar-item">
            @*FIXME: This seems to be a bit of a hack... To Bad!*@
            <img src="/img/logo_white.svg" alt="GitServer" style="height:23px;width:23px" />
        </div>
        <a href="/" class="w3-bar-item w3-button">Home</a>
        @*<a href="#about" class="w3-bar-item w3-button">Explore</a>*@

        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
        {
            <a class="w3-bar-item w3-button w3-right" href="/User/Signout">Sign out</a>
            <a class="w3-bar-item w3-button w3-right" href="">@ViewContext.HttpContext.User.Identity.Name</a>
        }
        else
        {
            <a class="w3-bar-item w3-button w3-right" href="/User/Login">Sign in</a>
        }
    </div>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        @RenderBody()
    </div>
    <br />
    <br />
    <br />
    <footer class="w3-theme w3-bottom w3-row" style="height:50px;">
@*        <div class="w3-col w3-rest">
            Kitfka © 2023 GitServer 0.3
        </div>
        <div class="w3-right" style="width:75px">
            <a target="_blank" href="https://github.com/kitfka/ASP.NET-Core-GitServer/tree/main">Kitfka/GitHub</a>
        </div>*@
        <div class="w3-col w3-right" style="width:150px">
            <p>
                <a target="_blank" href="https://github.com/kitfka/ASP.NET-Core-GitServer/tree/main">Kitfka/GitHub</a>
            </p>
        </div>
        <div class="w3-rest" style="padding-left: 16px;">
            <p>
                Kitfka © 2023 GitServer 0.3
            </p>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    <script src="~/js/Example.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
