<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - GitServer</title>
    <meta charset="utf-8" />
    <link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>
    <div class="full height">
        <noscript>Please enable JavaScript in your browser!</noscript>
        <div class="following bar light">
            <div class="ui container">
                <div class="ui grid">
                    <div class="column">
                        <div class="ui top secondary menu">
                            <a class="item brand" href="/">
                                <img src="/img/logo_white.svg" alt="GitServer" class="logo-image" />
                            </a>
                            <a class="item" href="/">Home</a>
                            <a class="item" href="#">Explore</a>
                            <div class="right menu">
                                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                                {
                                    <a class="item" href="#">@ViewContext.HttpContext.User.Identity.Name</a>
                                    <a class="item" href="/User/Signout">Sign out</a>
                                }
                                else
                                {
                                    <a class="item" href="/User/Login">Sign in</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui container dashboard">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="ui container">
            <div class="ui left">
                InfDev © 2019 GitServer 0.2
            </div>
            <div class="ui right links">
                <a target="_blank" href="https://github.com/InfDev/GitServer">InfDev/GitHub</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>
    <script src="~/lib/semantic/dist/semantic.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
