
@{
    ViewData["Title"] = "New repository";
}

<h2 class="ui header">New repository</h2>
@if (Model != null)
{
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">@Model</div>
    </div>
}
<div>
    <form asp-route="Create" method="post" class="ui form">
        <div class="field">
            <label>Repository name</label>
            <input type="text" name="name" placeholder="Repository name is required" required autofocus>
        </div>
        <div class="field">
            <label>Repository description</label>
            <input type="text" name="description" placeholder="Repository description is required">
        </div>
        <div class="field">
            <label>Remote address</label>
            <input type="text" name="remoteurl" placeholder="The remote repository address to be Clone, not required">
        </div>
        <button class="ui button" type="submit">Create</button>
    </form>
</div>

