
@{
    ViewData["Title"] = "New repository";
}

@if (Model != null)
{
    <div class="w3-panel w3-red w3-display-container">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-display-topright">X</span>
        <h3>Warning!</h3>
        <p>@Model</p>
    </div>
}

<div class="w3-card-2">
    <div class="w3-container w3-theme">
        <h2>New repository</h2>
    </div>
    <form class="w3-container w3-text-theme" asp-route="Create" method="post">
        <p>
            <label class=""><b>Repository name</b></label>
            <input class="w3-input w3-border w3-sand" type="text" name="name" placeholder="Repository name is required" required autofocus>
        </p>
        <p>
            <label class=""><b>Repository description</b></label>
            <input class="w3-input w3-border w3-sand" type="text" name="description" placeholder="Repository description is required">
        </p>
        <p>
            <label class=""><b>Remote address</b></label>
            <input class="w3-input w3-border" type="text" name="remoteurl" placeholder="The remote repository address to be Clone, not required">
        </p>

        <button class="w3-btn w3-theme" type="submit">Create</button>
        <br />
        <br />
    </form>
</div>