@using System.Collections.Generic
@model IEnumerable<GitServer.ApplicationCore.Models.Repository>
@{
    ViewBag.Title = "Home";
}
<h2 class="ui header">Repositories</h2>
<div class="right">
    <a href="/Home/Create">
        <div class="ui teal labeled icon button"><i class="folder outline icon"></i>New</div>
    </a>
</div>
<div class="ui relaxed divided list">
    @foreach (var repo in Model)
    {
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                @Html.RouteLink(repo.Name, "GetRepositoryHomeView", new { userName = repo.UserName, repoName = repo.Name }, new { @class = "header medium ui" })
                <div class="description">@repo.Description</div>
                <div class="description">Updated @repo.UpdateTime, created @repo.CreationDate</div>
            </div>
        </div>
    }
</div>